body{
    margin: 0;
    padding-bottom: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
}

#navbar{
    display: block;
    padding: 10px;
    text-align: end;

}

#nav-div{
    display: flex;
    justify-content: end;
    align-items: center;
}

#navbar a{
    text-decoration: none;
    color: black;
    padding: 0 10px;
}

#navbar #google-apps{
    width: 28px;
}

#navbar #google-profile-photo{
    width: 34px;
}

#main-item{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin-top: 10em;
}

#googlelogo{
    width: 272px;
    margin-bottom: 20px;
}

#search{
    width: 45em;
    height: 3em;
    border-radius: 20px;
    border: 1px solid #f2f2f2;
    margin-bottom: 15px;
    background-color: white;
    padding: 5px 20px;
}

#search:hover{
    box-shadow: 2px 2px 4px 4px #cbd4d2;
}

#submit{
    background-color:  #f2f2f2;
    height: 40px;
    border: 1px solid  #f2f2f2;
    border-radius: 5px;
    width: 13em;
    margin: 8px;
    color: #5F6368;
}

#submit:hover{
    border-color:#cbd4d2;
    background-color: #e9f0ee;
    color: black;
}

#submit:focus{
    border-color: blue;
}

p a{
    text-decoration: none;
    color: blue;
}

p a:hover {
    text-decoration: underline;
}

footer{
    display: block;
    background-color: #e9f0ee;
    color: #5F6368;
    display: block;
    margin-top: 20px;
}

footer p{
    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 30px;
    margin: 0;
}

footer #options{
    border-top: 1px solid #cbd4d2;
    padding: 15px 14px;
    display: flex;
}

#options-right{
    width: 50%;
    text-align: end;
}
#options-left{
    width: 50%;
}

#options-right a, #options-left a{
    padding: 0 10px;
}

#options-right a:hover, #options-left a:hover{
    text-decoration: underline;
}